doctype html
include ../../static/assets/lib/bootstrap.ldui/main/index.pug
html
  head
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
    +css("assets/lib/ldiconfont/main/ldif.min.css")
    +css("https://fonts.googleapis.com/css?family=Inconsolata&display=swap")
    +css("assets/lib/ldcover/main/ldcv.min.css")
  body
    .p-4.w-1024.rwd.mx-auto.my-4
      textarea.form-control.form-control-lg.mb-2(rows="10",readonly)
      .d-flex.justify-content-between
        .btn.btn-lg.btn-primary Add
        .btn.btn-lg.btn-primary Disconnect
    .ldcv: .base.w-480: .inner.card: .card-body.text-center.p-4: .py-4
      h3 Disconnected.
      br
      .btn.btn-outline-primary Reconnect
    //- either one will do. ( sharedb-wrapper/ot-json0.min.js or @plotdb/json0 )
    //-+script("assets/lib/sharedb-wrapper/dev/ot-json0.min.js")
    +script("assets/lib/@plotdb/json0/main/json0.min.js")
    +script("assets/lib/bootstrap.native/main/bootstrap-native.min.js")
    +script("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.js")
    +script("assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("assets/lib/ldcover/main/ldcv.min.js")
    +script("assets/lib/ldview/main/ldview.min.js")
    +script("assets/lib/ldloader/main/ldld.min.js")
    +script("assets/lib/sharedb-wrapper/dev/client.bundle.min.js")
    +script("/js/index.js")
