doctype html
include @/@loadingio/bootstrap.ext/index.pug
html
  head
    +css([
      {url: "https://fonts.googleapis.com/css?family=Inconsolata&display=swap"},
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"},
      {name: "ldiconfont", path: "ldif.min.css"},
      {name: "ldcover"}
    ])
  body
    .p-4.w-1024.rwd.mx-auto.my-4
      textarea.form-control.form-control-lg.mb-2(rows="10",readonly)
      .d-flex.justify-content-between
        .btn.btn-lg.btn-primary Add
        .btn.btn-lg.btn-primary Disconnect
    .ldcv: .base.w-480: .inner.card: .card-body.text-center.p-4: .py-4
      h3 Disconnected.
      br
      .btn.btn-outline-primary Reconnect
    //- either one will do: sharedb-wrapper/ot-json0.min.js or @plotdb/json0
    +script([
      {name: "bootstrap.native", path: "dist/bootstrap-native.min.js"},
      {name: "@loadingio/ldquery"},
      {name: "ldcover"},
      {name: "ldview"},
      {name: "ldloader"},
      {name: "@plotdb/json0", path: "json0.min.js"},
      {name: "sharedb-wrapper", version: "dev", path: "client.bundle.min.js"}, 
      {url: "/js/index.js"}
    ])
